<script src='https://www.google.com/recaptcha/api.js?hl=tr'></script>
<main role="main">
    <div class="account-page-wrapper">
        <div class="page-title-bar">
            <a href="/" class="go-back-link">
                <i class="svg-slide-arrow-left svg-slide-arrow-left-dims"></i>
            </a>
            <h1>İLETİŞİM</h1>
        </div>
        <div class="bg-white p-4 mb-3">
            <div class="text-center pl-4 pr-4">
                <i class="svg-contact svg-contact-dims mb-3"></i>
                <p class="fs-15 font-weight-normal text-light-gray">Müşteri hizmetleri telefonlarımız, çağrılarınıza haftanın 7 günü 09:00 - 19:00 saatleri arasında hizmet vermektedir.</p>
                <p class="fs-15 font-weight-normal text-light-gray">Müşteri hizmetleri mesaj servisimize 7 gün 24 saat mesaj gönderebilirsiniz. Göndereceğiniz mesajlarınız müşteri hizmetleri yetkililerimizce hızlı bir şekilde yanıtlanacaktır.</p>
                <p class="fs-15 font-weight-normal text-light-gray">Kişisel verilerinizin işlenmesine ilişkin detaylı bilgilere <a href="/sikayet-talep-aydinlatma-metni">Flo Mağazacılık ve Pazarlama A.Ş.
                        Şikayet Talep Sürecine İlişkin Kişisel Verilerin İşlenmesi Aydınlatma Metni</a>'nden ulaşabilirsiniz.</p>
            </div>
        </div>
        <div class="bg-white p-4 mb-3">
            <form action="" id="contact_form" class="contact-form flo-theme" novalidate="novalidate">
                <div class="form-group animated has-error">
                    <label>Adınız</label>
                    <input type="text" name="first_name" class="form-control" aria-required="true" aria-describedby="first_name-error" aria-invalid="true"><span id="first_name-error" class="error help-block">Lütfen bu alanı doldurunuz</span>
                </div>
                <div class="form-group animated has-error">
                    <label>Soyadınız</label>
                    <input type="text" name="last_name" class="form-control" aria-required="true" aria-describedby="last_name-error"><span id="last_name-error" class="error help-block">Lütfen bu alanı doldurunuz</span>
                </div>
                <div class="form-group animated as-error">
                    <label>Email</label>
                    <input type="text" name="email" class="form-control  input_lowercase" value="">
                </div>
                <div class="form-group phone-input has-error">
                    <label>Cep Telefonu Numaranız</label>
                    <input type="tel" name="phone_number" class="form-control inputmask" placeholder="0 (5 _ _ ) _ _ _  _ _  _ _" data-inputmask="'mask': '(599)-9999999'" im-insert="true" aria-required="true" aria-describedby="phone_number-error"><span id="phone_number-error" class="error help-block">Lütfen bu alanı doldurunuz</span>
                </div>
                <div class="form-group selectbox animated has-error">
                    <select name="department" id="department" class="form-control custom-select" aria-required="true" aria-describedby="department-error">
                        <option value="">Departman Seçiniz</option>
                        {% for row in contact.department_list %}
                            <option value="{{ row.id }}">{{ row.title }}</option>
                        {% endfor %}
                    </select><span id="department-error" class="error help-block">Lütfen bu alanı doldurunuz</span>
                </div>
                <div class="form-group selectbox animated has-error">
                    <select name="subject" id="subject" class="form-control custom-select" aria-required="true" aria-describedby="subject-error">
                        <option value="">Departman Konusu Seçiniz</option>
                    </select><span id="subject-error" class="error help-block">Lütfen bu alanı doldurunuz</span>
                </div>
                <div class="form-group has-error">
                    <textarea name="message" cols="30" rows="8" class="form-control" placeholder="İletişime geçmek istediğiniz konuyu buraya yazabilirsiniz." aria-required="true" aria-describedby="message-error"></textarea><span id="message-error" class="error help-block">Lütfen bu alanı doldurunuz</span>
                </div>
                {% if re_captcha.active == true and cf_post_time >= re_captcha.fail_num %}
                    <div class="text-right mb-3">
                        <div class="g-recaptcha" data-sitekey="{{ re_captcha.site_key }}"></div>
                    </div>
                {% endif %}
                <input type="submit"  class="btn btn-success btn-block btn-lg" value="GÖNDER">
            </form>
        </div>
    </div>
</main>
