<div class="content">
    <div class="list">
        {{ '<p class="x_p1"><strong>How do I place an order on floshoes.com?</strong></p>
<p class="x_p1">Please, add the products that you want to buy to your cart by clicking on "Add to cart" button. After choosing the products, click on the "buy" button.&nbsp;</p>
<p class="x_p1">If you do not log in, you will see the register page. If you have a Facebook account, you can easily log in by clicking the "connect via Facebook button. if you have already registered with your e-mail , you can log in by clicking "login" button and entering your e-mail and password that you have already defined while you are registering.&nbsp;</p>
<p class="x_p1">If you haven\'t registered before and you do not have a Facebook account, you can easily register by clicking "Register Now button with your e-mail address.<span class="x_apple-converted-space">&nbsp;&nbsp;</span>Next, you have to fill your address information and after that you have to select a payment option.&nbsp;</p>
<p class="x_p1">Please follow these processes step by step until you see the "order completed " text.&nbsp;</p>
<p class="x_p1"><strong>What if I receive a defected or damaged item?</strong>&nbsp;</p>
<p class="x_p1">If you have received a damaged or defected item, you can return your purchase with the original delivery package and receipt (plus any accessories if included with item) for free with B2CDirect within 15 days.&nbsp;</p>
<p class="x_p1">We will send you an information mail<span class="x_apple-converted-space">&nbsp;&nbsp;</span>after we receive the item. We will refund you the amount of your purchase within 14 days.<span class="x_apple-converted-space">&nbsp;</span>&nbsp;</p>
<p class="x_p1"><strong>Can I return my order?</strong></p>
<p class="x_p1">We always aim to satisfy our customers needs and expectations. If for any reason you are not satisfied with your order, you can return any unused item in a re-saleable condition without removing the price tags and within 15 days from delivery date.&nbsp;</p>
<p class="x_p1"><strong>How can I get the refund?</strong>&nbsp;</p>
<p class="x_p1">You get the refund to the credit card or bank card with which you completed your payment. After your request is confirmed,also you\'ll receive an e-mail about the refund process.</p>' | translate | raw }}



    </div>
</div>