<main role="main" class="page cart-page-wrapper">
    <div class="container">
        <div class=" row basket-page page-content checkout-payment">
            <div class="col-sm-9 pa">
                {{ widget('checkout', 'payment') }}

            </div>
        </div>
    </div>
</main>
