<main role="main">
    <div class="order-status-page-wrapper">
        <div class="container">
            <div class="page-title-bar">
                <a href="/" class="go-back-link">
                    <i class="svg-slide-arrow-left svg-slide-arrow-left-dims"></i>
                </a>
                <h1>GERİ DÖN</h1>
            </div>

            <div class="bg-white p-3 mb-5">
                <div class="row">

                    <div class="col-sm-8 verification">

                        <p class="mb-4">
                        <h1 class="order-title">SİPARİŞ DURUM SORGULAMA</h1>

                        Siparişiniz hakkında bilgi almak istiyorsanız lütfen aşağıdaki alana siparişinizde kullanmış olduğunuz telefon numarasını ve
                        sonrasında telefonunuza gelen doğrulama kodunu giriniz.
                        </p>
                        <form action="javascript:void(0);" class="order-status-form mb-4">
                            <div class="form-group">
                                <label><b>Cep Telefonu</b></label>
                                <div class="row">
                                    <div class=" col-sm-6 col-6">
                                        <input type="text" class="form-control inputmask" name="telephone" data-inputmask="'mask': '(599)-9999999'">
                                    </div>
                                    <div class="col-sm-6 col-6">
                                        <p class="phone-info">Sadece rakamlardan oluşan başında<br>
                                            0 (sıfır) bulunmayan 10 haneli numara. Örn: 5324445566</p>
                                    </div>
                                </div>
                                <label>Sipariş Numarası</label>

                                <div class="row">
                                    <div class="col-sm-5  col-6">
                                        <input type="text" class="form-control" name="id"  >
                                    </div>
                                    <div class="col-sm-5  col-6">
                                        <p class="phone-info">Lütfen sipariş numarasını giriniz</p>
                                    </div>
                                </div>
                            </div>
                            <button class="btn guest-code orange large">DOĞRULAMA KODUNU GÖNDER <i class="fa fa-angle-right"></i></button>
                        </form>
                        <p>Üye girişi yaparak ya da Müşteri Hizmetleriyle ileşime geçerek de siparişlerinizi takip edebilirsiniz.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>
