<div class="container-fluid">
    <div class="page-content sab">
        <div class="whitepage tpnone">
            <div class="title">SİPARİŞ DURUM SORGULAMA</div>
            <div class="content">
                <div class="order-status-page-wrapper">
                    <div class="row">
                        <div class="col-sm-8 verification">
                            <p class="mb-4">
                                Siparişiniz hakkında bilgi almak istiyorsanız lütfen aşağıdaki alana siparişinizde kullanmış
                                olduğunuz telefon numarasını ve
                                sonrasında telefonunuza gelen doğrulama kodunu giriniz.
                            </p>
                            <form action="" class="order-status-form mb-4">
                                <div class="form-group">
                                    <label>Cep Telefonu</label>
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control inputmask" name="telephone"
                                                   data-inputmask="'mask': '(599)-9999999'">
                                        </div>
                                        <div class="col-sm-5">
                                            <p class="phone-info">Sadece rakamlardan oluşan başında<br>
                                                0 (sıfır) bulunmayan 10 haneli numara. Örn: 5324445566</p>
                                        </div>
                                    </div>


                                    <label>Sipariş Numarası</label>

                                    <div class="row">
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" name="id">
                                        </div>
                                        <div class="col-sm-5">
                                            <p class="phone-info">Lütfen sipariş numarasını giriniz</p>
                                        </div>
                                    </div>

                                </div>
                                <button type="submit" class="btn guest-code orange large"  >
                                    DOĞRULAMA KODUNU GÖNDER
                                <i class="fa fa-angle-right"></i>
                                </button>
                            </form>
                            <p>Üye girişi yaparak ya da Müşteri Hizmetleriyle ileşime geçerek de siparişlerinizi takip
                                edebilirsiniz.</p>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

