<div class="error-page-wrapper">
    <div class="container">
        <div class="row justify-content-center pt-5 pb-5">
            <div class="col-lg-10 col-sm-12">
                <div class="row pt-4">
                    <div class="col-sm-6">
                        <h1>Üzgünüz, aradığınız sayfayı bulamadık</h1>
                        <p>Sayfa kaldırılmış ya da taşınmış olabilir.</p>
                    </div>
                    <div class="col-sm-6">
                        <figure class="page-animation">
                            <img src="/pub/assets/flo/img/404_01.jpg">
                            <img src="/pub/assets/flo/img/404_02.gif">
                            <img src="/pub/assets/flo/img/404_03.jpg">
                        </figure>
                    </div>
                </div>
                <div class="row pt-5">
                    <div class="col-sm-4 col-4">
                        <a href="/kadin" class="category-box">
                            <img src="/pub/assets/flo/img/sample/kadin.jpg">
                            <h4>Kadın</h4>
                        </a>
                    </div>
                    <div class="col-sm-4 col-4">
                        <a href="/erkek" class="category-box">
                            <img src="/pub/assets/flo/img/sample/erkek.jpg">
                            <h4>Erkek</h4>
                        </a>
                    </div>
                    <div class="col-sm-4 col-4">
                        <a href="/cocuk" class="category-box">
                            <img src="/pub/assets/flo/img/sample/cocuk.jpg">
                            <h4>Çocuk</h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ widget('datalayer', 'page_404', {}) }}
