<div class="login-page-wrapper">
    <div class="container pb-5">
        <div class="breadcrumbs-bar title-only mt-3">
            <div class="page-title">
                <h1>ŞİFRENİZİ YENİLEYİN</h1>
            </div>
        </div>
        <div class="row medium-gutter mb-5">
            <div class="col-xl-6 col-lg-6 col-sm-12">
                <div class="bg-white p-4 h-100">
                    <div class="p-4">
                        <form method="POST" id="customer-forget-form">
                            <div class="form-group animated mb-4">
                                <label>E-Mail Adresiniz</label>
                                <input type="text" class="form-control" name="mail">
                            </div>
                            <div class="pt-2">
                                <button type="submit" id="btn-forget-save" class="btn btn-lg btn-block btn-warning text-white mb-3">GÖNDER <i class="fa fa-angle-right"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-sm-12">
                <div class="bg-white h-100 p-4 mt-lg-0 mt-sm-3">
                    <div class="p-4 text-center">
                        <div class="mb-3">
                            <i class="svg-reset-password svg-reset-password-dims"></i>
                        </div>
                        <p class="text-gray">Soldaki alana e-posta adresinizi yazın, size yeni bir şifre oluşturmaya ilişkin talimatları içeren e-posta göndereceğiz.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>