<main role="main">

    <div class="cart-page-wrapper">
        <div class="container">
			<div class="checkout-register-wrapper">
				{{ widget('checkout', 'signin') }}
			</div>
        </div>

    </div>
</main>

<style>
.checkout-register-wrapper {
	max-width: 600px;
	margin: 0 auto;
}
</style>