
<!DOCTYPE html>
<!-- saved from url=(0014)about:internet -->
<html lang="tr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


    <style>


        .row {
            display: flex;

            margin-right: -15px;
            margin-left: -15px;
        }

        .col-sm-6 {
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
            position: relative;
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
        }

        img, svg {
            vertical-align: middle;
        }

        .error-page-wrapper h1, .error-page-wrapper p {
            color: #7c7c7c;
            font-weight: 600;
            /* margin-bottom: 20px; */
            max-width: 70%;
            margin: 0 auto;
            /* margin-bottom: -3%; */
            margin-top: 6%;
            font-size: 300%;
            font-family: sans-serif;
        }

        .error-page-wrapper p {
            color: #7c7c7c;
            font-weight: 500;
            margin-bottom: 20px;
            font-size: 20px;
        }

        .justify-content-center {
            -ms-flex-pack: center !important;
            justify-content: center !important;
        }

        .pt-5, .py-5 {
            padding-top: 3rem !important;
        }

        .pb-5, .py-5 {
            padding-bottom: 3rem !important;
        }

        .container {
            max-width: 1170px;
        }

        .container {
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }

        .main-menu {
            margin-top: 7%
        }
    </style>


    <!-- End Google Tag Manager -->

</head>
<body class="chrome mac">
<div data-widget="general/body_scripts" class="widget widget_general_body_scripts">
    <!-- Google Tag Manager (noscript) --><!-- End Google Tag Manager (noscript) -->
    <header class="site-header lazy login">
        <div class="main-menu">
            <div class="container">
                <div class="d-flex align-items-center justify-content-between"><img
                            src="/pub/assets/flo/images/logo.svg" alt="FLO"
                            style="
    margin-left: 90px;
"></div>
            </div>
        </div>
    </header>
    <main></main>
</div>
<div class="error-page-wrapper">
    <div class="container">
        <div class="row justify-content-center pt-5 pb-5">
            <div class="col-lg-10 col-sm-12">
                <div class="row pt-4">
                    <div class="col-sm-6"><h1>YENİLENİYORUZ</h1>
                        <p>Size daha iyi hizmet verebilmek için kısa bir süre sonra tekrar hizmetinizdeyiz</p></div>
                    <div class="col-sm-6">
                        <figure class="page-animation"><img
                                    src="/pub/assets/flo/images/404_01.jpg"><img
                                    src="/pub/assets/flo/images/404_02.gif"><img
                                    src="/pub/assets/flo/images/404_03.jpg">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>
