 <div class="page">
    <div class="container-fluid">
        <div class="page-content">
            <div class="whitepage">
                <div class="title">SİPARİŞ DURUM SORGULAMA</div>
                <div class="content">
                    <div class="row order-status-page-wrapper">

                        <div class="col-sm-8 approval ">

                            <p class="mb-4">
                                Lütfen cep telefonunuza gönderilen onay kodunu yazınız ve onayla butonuna basınız.
                            </p>
                            <form action="/" class="order-status-confirmation-form mb-4">
                                <div class="form-group">
                                    <label><b>Onay Kodu</b></label>
                                    <div class="row">
                                        <div class="col-sm-5 col-6">
                                            <input type="text" class="form-control" name="code">
                                            <a href="javascript:;" class="send-sms-again text-gray d-block mt-2"><u>SMS Tekrar Gönder</u></a>
                                        </div>
                                        <div class="col-sm-3 col-6">
                                            <div class="countdown">
                                                <h5>Kalan Süre</h5>
                                                <div class="count">1:59</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn orange confirm-btn large">ONAYLA <i class="fa fa-angle-right"></i></button>
                            </form>
                            <p>Üye girişi yaparak ya da Müşteri Hizmetleriyle ileşime geçerek de siparişlerinizi takip edebilirsiniz.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
