<div class="our-your-select">
    <div class="container-fluid">
        <div class="mc-md-12 pa">
            <div class="chance-pros">
                <div class="all">
                    <div class="title">{{ title }}</div>
                    <div class="content">
                        {% set bannerItems = [] %}
                        {% for product in products.products %}
                            {% set bannerItems = bannerItems|merge([
                                {
                                    spotlight_id: product.id,
                                    link: product.url,
                                    image: product.image|resize('250x250'),
                                    title: product.name,
                                    sorder: loop.index
                                }]
                                ) %}
                            {{ include('widgets/products/_element/general', {product: product, free_shipping_limit: free_shipping_limit, season_options: season_options, isSpotlight: true}) }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ widget('datalayer', 'spotlight', {layerData: {spotlights: bannerItems, element: '.our-your-select'}}) }}