<main>

    <div class="cart-page-wrapper">
        <div class="container">
            <div class="row justify-content-center mt-4">
                <div class="col-sm-5">
                    {{ widget('checkout', 'signin') }}

                </div>
            </div>
        </div>

    </div>
</main>