<div class="page">
    <div class="container-fluid">
        <div class="basket-page">
            <div class="mc-md-12 pa">
                <div class="my-basket ">
                    <div class="basket-list adim6">

                        <div class="basket-detail">
                            {{ widget('checkout', 'success') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>