<div class="whitepage">
    <div class="title orange"></div>
    <div class="content hesap">
        <div class="my-account-list">
            <div class="form adress-ose">
                <div class="">Mail Başarılı bir şekilde gönderildi</div>
            </div>
        </div>
    </div>
</div>
