<div class="container-blog header-blog ">
    <section class="row header-blogger blogger-links">
        <div class="col-md-5">
            <a href="/blogger">
                <img class="blogger-logo" src="/pub/assets/flo/images/blogger.png" alt=""></a>
            <ul class="menu-links">
                <li><a href="">moda</a></li>
                <li><a href="/blogger/notes">güzellik notları</a></li>
                <li><a href="">yaşam</a></li>
                <li><a href="/blogger/beauty">editörden</a></li>
            </ul>
        </div>
        <div class="col-md-5"></div>
        <div class="col-md-2">
            <ul class="social-links">
                <li><a target="_blank" href="https://www.facebook.com/floayakkabi"><i class="fab fa-facebook-f"></i></a></li>
                <li><a target="_blank" href="https://twitter.com/floayakkabi"><i class="fab fa-twitter"></i></a></li>
                <li><a target="_blank" href="https://www.instagram.com/floayakkabi/"><i class="fab fa-instagram"></i></a></li>
                <li><a target="_blank" href="https://www.youtube.com/user/FLOAYAKKABI"><i class="fab fa-youtube"></i></a></li>
                <li><a target="_blank" href="https://tr.pinterest.com/flomagazacilik/"><i class="fab fa-pinterest"></i></a></li>
            </ul>
            <img class="hamburger" src="/pub/assets/flo/images/hamburger.png" alt=""  >

        </div>
    </section>
    <section class="row">
        <div class="col-12 col-md-12">
            <div class="open-hamburger d-none">
                <div class="col-md-8">
                    <ul class="menu-links">
                        <li><a href="">moda</a></li>
                        <li><a href="/blogger/notes">güzellik notları</a></li>
                        <li><a href="">yaşam</a></li>
                        <li><a href="">editörden</a></li>
                        <br><br>
                        <li><a href="/blogger/about">hakkımızda</a></li>
                        <li><a href="">flo magazin</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <div class="address">
                                <b>İletişim</b> <br><b>flo mağazacılık</b>
                                <p>taşocağı caddesi no:24 bağcılar 34217 <br>İstanbul/türkiye <br>444 3 FLO(356)</p>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <div id="map"></div>
                        </div>

                    </div>
                    <br>
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <ul class="social-links">
                                <li><a target="_blank" href="https://www.facebook.com/floayakkabi"><i
                                                class="fab fa-facebook-f"></i></a></li>
                                <li><a target="_blank" href="https://twitter.com/floayakkabi"><i
                                                class="fab fa-twitter"></i></a></li>
                                <li><a target="_blank" href="https://www.instagram.com/floayakkabi/"><i
                                                class="fab fa-instagram"></i></a></li>
                                <li><a target="_blank" href="https://www.youtube.com/user/FLOAYAKKABI"><i
                                                class="fab fa-youtube"></i></a></li>
                                <li><a target="_blank" href="https://tr.pinterest.com/flomagazacilik/"><i
                                                class="fab fa-pinterest"></i></a></li>
                            </ul>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>
</div>
<main>
    <div class="container-fluid blog ">
        <div class="container-blog catalog-blog">
            <section class="row">
                <div class="col-12 col-md-3">
                    <div class="blog-card">
                        <img src="/pub/assets/flo/images/catalog-first.png" alt="">
                        <div class="text">
                            <span>floblogger 10/11/2019</span><br>
                            <p> 7 adımda daha güzel bir <br> güne uyanma yolları</p></div>

                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="blog-card">
                        <img src="/pub/assets/flo/images/catalog-second.png" alt="">
                        <div class="text">
                            <span>floblogger 10/11/2019</span><br>
                            <p> mevsim geçişlerinde saç <br>yıpranmasına nasıl engel <br> oluruz?</p></div>

                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="right-card">
                        <div class="bottom-small-img">
                            <img class="" src="/pub/assets/flo/images/catalog-third.png" alt="">
                        </div>
                        <div class="bottom-small-text">plajın favori <br><b>saç modelleri</b></div>
                    </div>
                </div>
            </section>
            <section class="row mt--10">
                <div class="col-6 col-md-7">
                    <div class="middle-text"><b>Ayakkabınızın <br>rengi hakkınızda</b>
                        <div class="text-outline">ne söylüyor?</div>
                    </div>
                </div>
                <div class="col-6 col-md-5">
                    <div class="middle-img">
                        <img class="" src="/pub/assets/flo/images/catalog-fourth.png" alt=""></div>
                </div>
            </section>
            <section class="">
                <div class="bottom-slider swiper-container swiper-autoinit"
                     data-swiper-slides-per-view="1"
                     data-swiper-space-between="0"
                     data-swiper-free-mode="true"
                     data-swiper-loop="true">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="row">
                                <div class="col-6 col-md-5">
                                    <div class="blog-card">
                                        <img src="/pub/assets/flo/images/catalog-fifth.png" alt="">
                                        <div class="text">
                                            <span>floblogger 10/11/2019</span><br>
                                            <p> topuklu ayakkabı giyerken dikkat etmeniz<br> gerekenler</p></div>

                                    </div>
                                </div>
                                <div class="col-6 col-md-7">
                                    <div class="row mt-1p">
                                        <div class="col-md-6">
                                            <img class="" src="/pub/assets/flo/images/catalog-sixth.png" alt="">
                                        </div>
                                        <div class="col-md-6">
                                            <div class="blog-card bottom-blog">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="text">
                                                            <span>floblogger 10/11/2019</span><br>
                                                            <p> 2020'de bizi bekleyen saç<br>ve makyaj trendleri</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <img class="" src="/pub/assets/flo/images/catalog-seventh.png"
                                                             alt="">
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="right-text">sağlıklı <br> saçlar <b>için öneriler</b></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="row">
                                <div class="col-6 col-md-5">
                                    <div class="blog-card">
                                        <img src="/pub/assets/flo/images/catalog-fifth.png" alt="">
                                        <div class="text">
                                            <span>floblogger 10/11/2019</span><br>
                                            <p> topuklu ayakkabı giyerken dikkat etmeniz<br> gerekenler</p></div>

                                    </div>
                                </div>
                                <div class="col-6 col-md-7">
                                    <div class="row mt-1p">
                                        <div class="col-md-6">
                                            <img class="" src="/pub/assets/flo/images/catalog-sixth.png" alt="">
                                        </div>
                                        <div class="col-md-6">
                                            <div class="blog-card bottom-blog">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="text">
                                                            <span>floblogger 10/11/2019</span><br>
                                                            <p> 2020'de bizi bekleyen saç<br>ve makyaj trendleri</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <img class="" src="/pub/assets/flo/images/catalog-seventh.png"
                                                             alt="">
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="right-text">sağlıklı <br> saçlar <b>için öneriler</b></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </section>

            <div><a href="javascript:" id="return-to-top"><img class="" src="/pub/assets/flo/images/arrow-up.png"
                                                               alt=""></a></div>
        </div>
    </div>
</main>
<div class="container-blog">
    <section class="row blogger-links">
        <div class="col-md-4">
            <a href="/blogger">
                <img class="blogger-logo" src="/pub/assets/flo/images/blogger.png" alt=""></a>    </div>
        <div class="col-md-4">   <ul class="menu-links">
                <li><a href="">moda</a></li>
                <li><a href="/blogger/notes">güzellik notları</a></li>
                <li><a href="">yaşam</a></li>
                <li><a href="/blogger/beauty">editörden</a></li>
            </ul></div>
        <div class="col-md-4"><ul class="social-links">
                <li><a target="_blank" href="https://www.facebook.com/floayakkabi"><i class="fab fa-facebook-f"></i></a></li>
                <li><a target="_blank" href="https://twitter.com/floayakkabi"><i class="fab fa-twitter"></i></a></li>
                <li><a target="_blank" href="https://www.instagram.com/floayakkabi/"><i class="fab fa-instagram"></i></a></li>
                <li><a target="_blank" href="https://www.youtube.com/user/FLOAYAKKABI"><i class="fab fa-youtube"></i></a></li>
                <li><a target="_blank" href="https://tr.pinterest.com/flomagazacilik/"><i class="fab fa-pinterest"></i></a></li>
            </ul></div>
    </section>
</div>
