<div class="login-page-wrapper">
    <div class="page-title-bar">
        <a href="/customer/login" class="go-back-link">
            <i class="svg-slide-arrow-left svg-slide-arrow-left-dims"></i>
        </a>
        <h1>ŞİFRENİZİ YENİLEYİN</h1>
    </div>
    <div class="bg-white p-4 mt-lg-0 mb-2">
        <div class="text-center">
            <div class="mb-3">
                <i class="svg-reset-password svg-reset-password-dims"></i>
            </div>
            <p class="text-gray fs-15">Alttaki alana e-posta adresinizi yazın, size yeni bir şifre oluşturmaya ilişkin
                talimatları içeren e-posta göndereceğiz.</p>
        </div>
    </div>
    <form method="POST" id="customer-forget-form" class="reset-password-form mb-5">
        <div class="bg-white p-4">
            <div class="form-group animated mb-4">
                <label>E-Mail Adresiniz</label>
                <input type="text" class="form-control" name="mail">
            </div>
        </div>
        <button type="submit" id="btn-forget-save" class="btn btn-lg btn-block btn-warning text-white mb-3">GÖNDER <i
                    class="fa fa-angle-right"></i></button>
    </form>
</div>