<div id="maincontent" class="page searchnone"><a id="contentarea" tabindex="-1"></a>
    <div class="page-content sab cart-page-wrapper">
        <script async="" src="https://maps.google.com/maps/api/js?key=&amp;libraries=places,geometry"></script>
        <input name="form_key" type="hidden" value="l4EFzCZObjNl9Kk4">
        <div id="authenticationPopup" data-bind="scope:'authenticationPopup'" style="display: none;">
            <script>
                window.authenticationPopup = {
                    "autocomplete": "off",
                    "customerRegisterUrl": "http:\/\/instreet.mage\/customer\/account\/create\/",
                    "customerForgotPasswordUrl": "http:\/\/instreet.mage\/customer\/account\/forgotpassword\/",
                    "baseUrl": "http:\/\/instreet.mage\/"
                };
            </script>
            <!-- ko template: getTemplate() -->
            <!-- /ko -->
        </div>
        <div id="monkey_campaign" style="display:none;">
        </div>
        <div class="my-basket">
            <div class="basket-list">
                <div class="basket-detail">
                    <div class="adim4  adim3">
                        <div class="form">
                            <form class="form-address-edit"
                                  method="POST"
                                  id="address-add-form" enctype="multipart/form-data"
                                  data-hasrequired="* Required Fields" novalidate="novalidate">
                                <div class="brd">
                                    <input type="hidden" name="success_url"
                                           value="/checkout/address?id=:insert_id">
                                    {{ widget('address','fields',{towns:towns,regions:regions,countries:countries}) }}

                                    <label class="flo-checkbox fs-12 text-gray">
                                        <input type="checkbox" name="default_address" checked> Varsayılan Adresim Olarak
                                        Kaydet
                                        <span><i class="fa fa-check"></i></span>
                                    </label>

                                    <div class="actions-toolbar fixedbottom disabled text-right mt-3">
                                        <div class="submit">
                                            <button id="formAddresSave" type="submit"
                                                    class="actionOff saveOff primaryOff btn btn-warning btn-lg text-white pl-5 pr-5"
                                                    data-action="save-address"
                                                    title="{{ 'KAYDET' | translate }}"
                                                    value="{{ 'KAYDET' | translate }}">{{ 'KAYDET' | translate }}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>

</div>
<div class="emarsys-wrapper">

    <!-- This code will embeded on all pages -->

</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="modal-backdrop show"></div>
