<div class="page searchnone">
    <div class="container-fluid">
        <div class="page-content sab">
            <div class="whitepage">
                <div class="title">{{ 'Şifremi Unuttum' | translate }}</div>
                <div class="giris-form">
                    <form action="#">
                        <div class="all">
                            <div class="form-group">
                                <em>{{ 'E-POSTA ADRESİ' | translate }}</em>
                                <input type="text" class="validate[required]">
                            </div>
                            <div class="submit">
                                <button onclick="">{{ 'GÖNDER' | translate }}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
