<div class="whitepage">
    <div class="title orange">{{ 'HESABIM / HABER BÜLTENİ ÜYELİKLERİM' | translate }}</div>
    <div class="content hesap">
        <div class="my-account-list">
            <div class="form adress-ose">
                {{ message }}
            </div>
        </div>
    </div>
</div>