<div class="clearfix"></div>

  <div class="categories-all">
        <div class="mc-md-4 banner-item">
            <div class="banner-content">
                <div class="image-banner static-image">    <a href="/man">
                        <img src="/pub/assets/floshoes/images/Men_Category.png" alt="Static Image"></a></div>

                <div class="banner-info">
                    <h2> {{ "Men's Shoes" | translate }}</h2>
                    <p>Complete Your Elegance...</p>
                    <a title="Shop Now" href="/man">Shop Now &gt;&gt;</a></div>
            </div>
        </div>
        <div class="mc-md-4 banner-item">
            <div class="banner-content">
                <div class="image-banner static-image">    <a href="/women">
                        <img src="/pub/assets/floshoes/images/Women_Category.png" alt="Static Image"></a></div>
                <div class="banner-info">
                    <h2>Women's Shoes</h2>
                    <p>Complete Your Beauty</p>
                    <a title="Shop Now" href="/women">Shop Now &gt;&gt;</a></div>
            </div>
        </div>
        <div class="mc-md-4 banner-item">
            <div class="banner-content">
                <div class="image-banner static-image">    <a href="/kids">
                        <img src="/pub/assets/floshoes/images/Kids_Category.png" alt="Static Image"></a></div>
                <div class="banner-info">
                    <h2>Kid's Shoes</h2>
                    <p>Keep Having Fun</p>
                    <a  title="Shop Now" href="/kids">Shop Now &gt;&gt;</a></div>
            </div>
        </div>
    </div>


<div class="clearfix"></div>