<div class="page searchnone">
    <div class="container-fluid">
        <div class="page-content">
            <div class="whitepage">
                <div class="title">{{ static_page.title }}</div>
                <div class="content">
                    <div class="centerContent">
                        {{ static_page.content|raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
