<header class="header header-checkout">
	<div class="header-bottom container">
		<div class="row">
			<div class="col-xs-6"><a href="/"> <img src="/pub/assets/ninewest/img/logo.jpg" alt="NINEWEST" class="header-logo"/></a></div>
			<div class="col-xs-6 text-right">
				{# <a href="/basket">
					<i class="fas fa-angle-left"></i>
					Sepete Geri Dön
				</a> #}
			</div>
		</div>
	</div>
</header>