<div class="page">
    <div class="container-fluid">
        <div class="page-content sab">
            <div class="whitepage tpnone">
                <div class="title">{{ 'Generate PDF' | translate }}</div>
                <div class="content">
                    <div class="brand-page">
                        <div class="top hidden">
                            <div class="search-brand">
                                <form action="arama-sonucu.html">
                                    <div class="form-group">
                                        <input id="brand-filter" type="text">
                                        <p>Marka Ara</p>
                                    </div>
                                    <div class="submit">
                                        <input type="submit">
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="alert alert-danger" role="alert">E-arşiv faturanız henüz oluşmamıştır, lütfen daha
                            sonra tekrar deneyiniz.
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
