<div class="page searchnone">
    <div class="container-fluid">
        <div class="page-content">
            <div class="whitepage">
                <div class="title">{{ 'ŞİFREMİ UNUTTUM' | translate }}</div>
                <div class="form online">
                    <form action="#" id="customer-forget-form">
                        <div class="form-group">
                            <input name="mail" type="text" class="validate[required]" placeholder="{{ 'E-POSTA ADRESİ' | translate }}">

                        </div>
                        <div class="submit">
                            <input type="submit" value="{{ 'GÖNDER' | translate }}" id="btn-forget-save">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>