<div class="overlay"></div>
<div class="overlay2"></div>

<div class="page searchnone">
    <div class="container-fluid">
        <div class="page-content sab">
            <div class="whitepage">
                <div class="title">{{ 'Şifremi Unuttum' | translate }}</div>
                <div class="giris-form">
                    <form method="POST" id="customer-forget-form">
                        <div class="all">
                            <div class="form-group">
                                <em>{{ 'E-POSTA ADRESİ' | translate }}</em>
                                <input name="mail" type="text" class="validate[required]">
                            </div>
                            <div class="submit">
                                <input type="submit" id="btn-forget-save" value="{{ 'UYGULA' | translate }}">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>