<div class="login-page-wrapper">
    <div class="page-title-bar">
        <a href="/" class="go-back-link">
            <i class="svg-slide-arrow-left svg-slide-arrow-left-dims"></i>
        </a>
        <h1>ŞİFRENİZİ YENİLEYİN</h1>
    </div>
    <div class="password-reset-alert">
        <i class="fa fa-check mb-3"></i>
        <p class="text-gray">Şifre değiştirme linki <span class="text-dark">{{ customer_forget_password_email }}</span> adresine başarıyla gönderildi.<br>
            Lütfen e-postanızı kontrol ediniz.</p>

        <p class="text-gray">Yeni şifrenizi oluşturmak için e-postadaki bağlantıya tıklayın ve yeni
            şifrenizi girin.</p>

        <p class="text-gray mb-0">E-posta gelmedi mi? İşlemi tekrarlamak için <a href="/customer/password-forget" class="text-dark">tıklayınız.</a></p>
    </div>
</div>