<header class="site-head">
    <div class="container-fluid">
        <div class="top">
            {#<div class="mobile-btn">
                <button type="button" class="navbar-toggle" onclick="javascript: mobileMenuOpen(this)">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>#}
            <div class="logo sepet">
                <h1 class="hidden">{{ registry('head_one')|default('INSTREET') }}</h1>
                <a href="/"><img src="/pub/assets/floshoes/images/logo.png" alt="InStreet"></a>
            </div>
        </div>
    </div>
</header>
