<div class="content">
    <div class="list">
        {{ "<h4>Sitenizden aldığım ürünlerin değişimi ve iadesini nasıl yapabilirim?</h4>
        <p>Sitemizden almış olduğunuz ürünlerin değişim veya iade işlemini <strong>30
                gün</strong>
            içerisinde size en yakın Türkiye´deki mağazalarımızda yapabilirsiniz. Ürün
            iadesi ve
            değişimi için kesinlikle ürünün sevk irsaliyesi veya faturasıyla birlikte
            başvurulması,
            ürünün kullanılmamış olması ve size ulaştığı şekilde tüm aksesuarları ile
            birlikte
            teslim edilmesi gerekmektedir. Mağazalarımızdan gün içinde bir sipariş için iade
            ve
            değişim yapabileceğiniz ürün sayısı <strong>20 adet</strong> ile sınırlıdır.</p>
        <p>Bulunduğunuz bölgede gidebileceğiniz herhangi bir mağazamız bulunmuyor ise
            <strong>iade</strong> talebiniz için ürünü depo adresimize gönderebilirsiniz.
        </p>

        <h4>Almış olduğum ürünleri depo adresinize göndererek değişim yapabilir miyim?</h4>
        <p>Depomuzdan ürün değişimi yapılamamaktadır. Değişim amacıyla gönderdiğiniz
            ürününüz
            elimize ulaştığında iade alınacak ve ödediğiniz tutar ödeme yapmış olduğunuz
            şekliyle
            size iade edilecek, yeni almak istediğiniz ürünü yeniden sipariş vermeniz
            istenecektir.</p>
        <p>Ürünü nasıl göndermeniz gerektiğine dair bilgiler aşağıda verilmektedir. Verilen
            bilgilere uygun hareket ettiğiniz takdirde işleminiz herhangi bir aksaklık
            yaşanmadan
            kısa sürede gerçekleştirilecektir.</p>
        <p><strong>ÜRÜN İADE VEYA DEĞİŞİMİ İÇİN ÜRÜN İLE BİRLİKTE ÜRÜN SEVK İRSALİYESİ YA DA
                FATURASININDA FİRMAMIZA TESLİM EDİLMESİ GEREKMEKTEDİR.</strong></p>

        <h4>İademi hangi adrese göndereceğim?</h4>
        <p>İade gönderim adresimiz aşağıdaki gibidir:</p>
        <p>Flo Mağazacılık ve Pazarlama A.Ş.</p>
        <p>Balçık Mahallesi, Balçık Köyü, 3254 Sok No:70, 41400 Gebze/Kocaeli</p>
        <h4>İade edeceğim ürünleri depo adresinize istediğim kargoyla gönderebilir
            miyim?</h4>
        <p>İade için ürün gönderimlerinin &nbsp;<strong style=\"font-size: 12px;\"> MNG
        KARGO&nbsp;</strong><span style=\"font-size: 12px;\">ile kargo ücreti ödemeden gönderilebilir. Anlaşmalı kargo firmalarımız dışında farklı kargo firmaları ile gönderim yapıldığı durumlarda paketler firmamız tarafından teslim alınmamaktadır. Teslim alınmayan gönderileriniz, ilgili kargo firması tarafından kargo masraflarını göndericiye fatura ederek tekrar size teslim edecektir. Farklı ünvanlar ile anlaşmamız dışında gönderilecek paketler ve doğacak masraflar firmamız sorumluluğunda değildir.</span>
        </p>

        <h4>Ürünlerimi mağazanıza iade ettiğimde mağazanızdan ücret iademi alabilir
            miyim?</h4>
        <p>Ürünlerinizi iade için mağazalarımıza teslim edebilirsiniz, ancak
            mağazalarımızdan
            kesinlikle herhangi bir ücret iadesi yapılmamaktadır. İade işlemleri online
            satış
            birimimiz tarafından gerçekleştirilmektedir.</p>
        <p>Kapıda ödeme ile alınan ürünlerin tutar iadesi sitemizden de kullanılabilen
            mağaza
            kredisi olarak müşteri hesabına yüklenmektedir. İade tutarının banka hesabınıza
            yatırılmasını istiyorsanız hesap bilgilerinizi iletişim sayfasından iletebilir,&nbsp;<a
                    href=\"mailto:musteriiliskileri@sportinstreet.com.tr\">musteriiliskileri@instreet.com.tr</a>&nbsp;adresine
            e-posta gönderebilir ya da <strong>0850 290 0 747</strong> numaralı müşteri
            hizmetleri
            hattımızı arayarak paylaşabilirsiniz.&nbsp;</p>

        <h4>Kampanyalı olarak aldığım ürünün değişim ya da iadesini nasıl yapabilirim?</h4>

        <p>Kampanyalı ürünlerin iadesinde kampanyaya dahil olan tüm ürünlerin birlikte iade
            edilmesi gerekmektedir. Aksi takdirde iade işlemi yapılamamaktadır.&nbsp;</p>

        <h4>Ürünlerimi İade Ettiğimde Ücret İademi Ne kadar Sürede Alabilirim?</h4>

        <p>Siparişlerinizde yer alan ürünü iade etmeniz veya alışverişten caymanız
            durumunda, iade edilen ürün tarafımıza ulaştığı andan itibaren On dört
            (14) gün içerisinde ürün bedeli iade edilir. Alışveriş sırasında ödeme
            yapılan kredi kartı, bankamatik kartı veya hesap numarasında sorun
            yaşanmasına bağlı olarak bedel iadesi yapılamadığında, hesap
            bilgilerinizin sizden yeniden talep edilecektir. Sizden dönüş alınması
            süresince yaşanabilecek gecikmelerden dolayı iade süresinin uzamasından
            firmamızın sorumluluğu bulunmamaktadır. Üründe herhangi bir açılma,
            bozulma, kırılma, tahrip, yırtılma ve kullanılma durumu tespit
            edildiğinde ürün iade almadan tarafınıza geri gönderilecektir.</p>
        <h4>Siparişimi nasıl iptal ederim?
        </h4>
        <p>Üye giriş yaparak, Hesabım bölümünden Siparişlerimi seçerek iptal
            etmek isteğiniz siparişi seçip İptal butonuna basarak işleminizi
            yapabilirsiniz. Ücret iadeniz ödeme şeklinizle aynı olarak
            gerçekleşmektedir. Siparişinizin faturalandırılmış olması
            durumunda iade koşulları geçerli olacaktır.</p>
        <p>Misafir üye olarak gerçekleştirdiğiniz siparişleriniz ile ilgili
            iptal talebinizi ise <strong>0850 290 0 747</strong> numaralı
            Müşteri Hizmetleri Hattımızı arayarak ya da sipariş numaranız
            ile iletişim bölümümüzden e-mail göndererek iletebilirsiniz.</p>" | translate | raw }}



    </div>
</div>
