<header class="site-header cart-header login">
    <!--<div class="header-announcement">
        TÜM TÜRKİYE’YE KARGO BEDAVA FIRSATINI KAÇIRMA
    </div>-->
    <div class="main-menu ">
        <div class="container">
            <div class="d-flex align-items-center justify-content-between shipping-header-container">
                <a href="/" class="logo ">
                    <img src="/pub/assets/flo/img/logo.svg" alt="FLO">
                </a>
                <a href="{{ basket_base_url() }}/basket"> <span class="d-none">Sepete Geri Dön</span>
                    <div class="d-none shipping-header"><img src="/pub/assets/flo/img/icons/basket_checkout.svg"
                                                             alt="FLO">
                    </div>
                </a>

            </div>
        </div>
    </div>
</header>
